.g2-view-container {
  .g2-view-identity-binding-content {
    display: flex;
    flex-direction: column;
    padding: 0 38px;
    margin-top: 16px;

    .g2-view-identity-binding-content-logo {
      img {
        width: 42px;
        height: 42px;
      }
      margin-bottom: 4px;
    }

    .g2-view-identity-binding-content-title {
      font-size: 18px;
      line-height: 24px;
      color: #1C1C1E;
      margin-bottom: 8px;
      font-weight: 600;
    }

    .g2-view-identity-binding-content-desc {
      font-size: 14px;
      color: #3A3A3C;
      margin-bottom: 24px;
    }
  }

  .g2-view-identity-binding-content-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .g2-view-identity-binding-content-button {
      width: calc(100% - 4px);
      height: 42px;
      border-radius: var(--guard-radius-button);
      border: 0px;
    }

    .g2-view-identity-binding-content-button-create {
      background: #F5F5F7;
      color: #1C1C1E;

      margin-bottom: 16px;

      &:hover {
        color: #1C1C1E;
        background: rgba(28, 28, 30, 0.10);
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .g2-view-container {
    .g2-view-identity-binding-content {
      padding: 0 12px;
    }
  }
}
