.g2-view-invitation-apply {
  min-height: auto;
  padding: 16px 16px 48px;
  .g2-view-header {
    display: flex;
    &-container {
      margin-left: 16px;
      .invitation-welcome {
        margin-bottom: 4px;
        color: #545968;
        font-size: 14px;
      }
      .title {
        line-height: 1;
      }
    }
  }
  .g2-view-content {
    padding: 0 38px;
    @media only screen and (max-width: 450px) {
      padding: 0 8px;
    }
  }
}
