/* You can add global styles to this file, and also import other style files */
.authing-button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 6px 16px;
  color: #fff !important;
  font-size: 14px !important;
  border-radius: 4px;
  background: #215ae5;
  border: none;
  box-shadow: none;
}

body {
  background-color: red !important;
}

@keyframes extension {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.g2-init-setting-loading {
  width: 456px;
  background: #fff;
  min-height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 60px rgba(84, 89, 104, 0.05);
}

.loader__view-box {
  height: 20px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.loader__dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #0097e0;
  animation: extension 1.6s ease-in-out 0s infinite normal;
  transform: scale(0);
}


.loader__dot:nth-child(2) {
  animation-delay: .2s;
}

.loader__dot:nth-child(3) {
  animation-delay: .4s;
}