.g2-view-join {
  .g2-join-content {
    padding: 0 38px;
    .authing-g2-join-title {
      margin: 40px 0 32px;
      color: #282d3c;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
    .authing-g2-join-button {
      margin-top: 16px;
    }
  }
}
