@ant-prefix: authing-ant;
.authing-guard-select-list {
  .authing-guard-select-list-item {
    &:hover {
      cursor: pointer;
      background: #FAFAF9;
      border-radius:4px;
    }

    .@{ant-prefix}-list-item-meta-title{
      margin:0;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color:#1C1917;
    }
    .@{ant-prefix}-list-item-meta-description{
      font-size: 14px;
      line-height: 20px;
      color:#737373;
    }
  }
}
