// 当前文件及文件中的 class 只用于动画

.authing-g2-render-module-normal-wrapper-animation{
  height: 0;
  animation: containerAnimation 0.5s linear forwards;
}

@keyframes containerAnimation {
  99% {
    height: 600px;
  }

  100% {
    height: auto;
  }
}

.authing-g2-render-module-normal-wrapper-animation .authing-logo-loading {
  opacity: 0;
  animation: logoAnimation 0s ease-in 0.5s forwards;
}


@keyframes logoAnimation {
  100% {
    opacity: 1;
    width: 416px;
    height: 600px;
    background-color: #ebeef4;
    border-radius: 16px;
  }
}

.authing-g2-render-module-normal-wrapper-animation .g2-view-header,
.authing-g2-render-module-normal-wrapper-animation .animation-box,
.authing-g2-render-module-normal-wrapper-animation .g2-social-login {
  opacity: 0;
  transform: translateY(10px);
}

.authing-g2-render-module-normal-wrapper-animation .g2-view-header {
  animation: viewHeaderAnimation 0.5s ease-in 0.5s forwards;
}

@keyframes viewHeaderAnimation {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.authing-g2-render-module-normal-wrapper-animation .animation-box {
  animation: animationBoxAnimation 0.5s ease-in 0.8s forwards;
}

@keyframes animationBoxAnimation {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.authing-g2-render-module-normal-wrapper-animation .g2-social-login {
  animation: animationBoxAnimation 0.5s ease-in 1.1s forwards;
}

@keyframes socialLoginAnimation {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.authing-g2-render-module-normal-wrapper-animation .g2-change-language-container,
.authing-g2-render-module-normal-wrapper-animation .g2-qrcode-switch {
  opacity: 0;
}

.authing-g2-render-module-normal-wrapper-animation .g2-change-language-container {
  animation: changeLanguageAnimation 0.5s ease-in 1.4s forwards;
}

@keyframes changeLanguageAnimation {
  100% {
    opacity: 1;
  }
}

.authing-g2-render-module-normal-wrapper-animation .g2-qrcode-switch {
  animation: qrcodeSwitchAnimation 0.5s ease-in 1.4s forwards;
}

@keyframes qrcodeSwitchAnimation {
  100% {
    opacity: 1;
  }
}

.g2-view-container {
  animation: viewContainerAnimation 1s ease-in 0.5s forwards;
}

@keyframes viewContainerAnimation {
  100% {
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  }
}