.g2-mfa-method {
  padding: 0 38px;
}

.g2-mfa-method-title {
  text-align: center;
  font-size: 14px;
  color: #9CA3AF;
  margin-bottom: 8px;
  width: 100%;
}

.g2-mfa-method-title::before,
.g2-mfa-method-title::after {
  content: '——';
  color: #D1D1D6;
  margin: 0 11px;
}

.genauth-ant-btn.g2-guard-mfa-methods-btn {
  border: none;
  background-color: #F5F5F7;
  border-radius: var(--guard-radius-control);
  color: #1C1C1E;
  font-size: 14px;
  height: 49px;
  margin-top: 8px;
  width: 100%;

  justify-content: center;
  align-items: center;

  font-size: 14px;
  &:hover {
    background: rgba(28, 28, 30, 0.10);
  }

  .g2-icon {
    font-size: 16px;
    margin-right: 8px;
  }
}
