.g2-mfa-method {
  padding: 0 38px;
}

.g2-mfa-method-title {
  text-align: center;
  font-size: 14px;
  color: #A1A1A1;
  margin-bottom: 8px;
  width: 100%;
}

.g2-mfa-method-title::before,
.g2-mfa-method-title::after {
  content: '——';
  color: #E7E5E4;
  margin: 0 11px;
}

.authing-ant-btn.g2-guard-mfa-methods-btn {
  border: none;
  background-color: #F5F5F4;
  border-radius: 8px;
  color: #171717;
  font-size: 14px;
  height: 49px;
  margin-top: 8px;
  width: 100%;

  justify-content: center;
  align-items: center;

  font-size: 14px;
  &:hover {
    background: rgba(28, 25, 23, 0.10);
  }

  .g2-icon {
    font-size: 16px;
    margin-right: 8px;
  }
}
