$homePageWidth = 1300px
$mainContentWidthWithSideBar = 1300px
$mainContentWidthWithoutSideBar = 1300px
$borderColor = #EEEEEE
$accentColor = #215AE5
$textColor = #111
$subTitleColor = #4B5A78
$contentWidth = 1000px
$arrowBgColor = #6D7278
$headerContentGutter = 36px
$leftSidebarContentGutter = 24px
$rightSidebarContentGutter = 30px
$footerHeight = 250px
$sidebarWidth = 200px
$MQMobile = 1060px
