// vuepress-plugin-container 的样式
.contains-task-list LI
  list-style-type:none;

.description
  color: #9DAAB6

.img-description
  color: #9DAAB6
  text-align: center

td
  line-height: 1.8;

.hint-success
  background-color: #f3f5f7;
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0;
  border-left-color: rgb(38, 203, 124);

.hint-info
  background-color: #f3f5f7;
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0;
  border-left-color: rgb(56, 132, 255);

.hint-danger
  background-color: #f3f5f7;
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0;
  border-left-color: rgb(255, 70, 66);

.hint-warning
  background-color: #f3f5f7;
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0;
  border-left-color: rgb(247, 125, 5);

.page-ref
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;

.embed
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;

.api-method
  padding-top: 25px;

.api-method .method
  color: #FFFFFF;
  height: 21px;
  margin: 0;
  display: inline-flex;
  padding: 2px 8px;
  background: #3884FF;
  align-items: center;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 700;

.api-method .path
  padding: 8px;
  font-size: 16px;
  font-family: Content-font, Roboto, sans-serif;
  display: inline-block;
  font-weight: 400;
  line-height: 1.625;
  border-radius: 3px 0 0 3px;
  background-color: #F5F7F9;
  margin-bottom: 6px;


.api-method-spec.tabs {
	display: flex;
	flex-wrap: wrap; // make sure it wraps
}
.api-method-spec.tabs label {
	order: 1; // Put the labels first
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #fff;
  color: #9DAAB6;
  transition: background ease 0.2s;
}
.api-method-spec.tabs .tab {
  order: 99; // Put the tabs last
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #f3f5f7;
}
.api-method-spec.tabs input[type="radio"] {
	display: none;
}
.api-method-spec.tabs input[type="radio"]:checked + label {
	background: #f3f5f7;
  color: #2c3e50;
  font-weight: bold;
}
.api-method-spec.tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

.api-method-parameter
  width: 100%;

.api-method-parameter td
  padding: 2px 10px;
  border: none;

.api-method-parameter .required
  font-weight: light;
  color: red;
  font-size: 10px;

.api-method-parameter .optional
  font-weight: light;
  color: #74818D;
  font-size: 10px;

.api-method-parameter .description
  color: #74818D;

.api-method-response-example
  padding-top: 10px;

.api-method-response-example-description
  color: #74818D;

.api-method-response-example .green-dot
  width: 10px;
  height: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  margin-right: 6px;
  background-color: rgb(38, 203, 124);
  border-radius: 50%;

.api-method-response-example .red-dot
  width: 10px;
  height: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  margin-right: 6px;
  background-color: #ff4642;
  border-radius: 50%;

.page-ref-list
  margin-top 60px
  .page-ref-list-title
    font-size 18px
    font-weight 500
    color #111111
    line-height 25px
    margin-top 0
    margin-bottom 16px