.genauth-header-tag.genauth-ant-tag {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 5px;
  border-radius: 6px;
  margin: 4px 4px 0 0;
  border: none;
  color: #1F3FBB;
  background-color: #E7EEFF;
}
