*[class*='authing-'].authing-ant-btn-link.guard-button-link-like {
  margin: 0;
  color: #215ae5;
  padding: 0px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: #557fff;
  }

  &:active {
    color: #254cd9;
  }

  &.guard-button-disabled {
    cursor: not-allowed;
  }
}

.authing-ant-btn {
  span {
    margin-right: 0 !important;
    letter-spacing: 0 !important;
  }
}

.authing-btn-icon {
  margin-left: 16px;
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  overflow: hidden;
}

.authing-btn-arrow {
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  animation: 0.8s ease-in slideInOut forwards;
  opacity: 1;
}

.authing-btn-loading {
  margin-top: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: 1.5s linear rotateIn infinite;
}

.authing-ant-btn-loading-icon {
  display: none !important;
}

@keyframes slideInOut {
  0% {
    left: -16px;
    opacity: 1;
  }

  80% {
    left: 0;
    opacity: 1;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}