*[class*='authing-'].authing-ant-btn-link.guard-button-link-like {
  color: #EE5C2A;
  padding: 0px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #F97316;
  }
  &:active {
    color: #C2410C;
  }

  &.guard-button-disabled {
    cursor: not-allowed;
  }
}
