*[class*='authing-'].authing-ant-btn-link.guard-button-link-like {
  color: #2F54EB;
  padding: 0px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #284BD6;
  }
  &:active {
    color: #1F3FBB;
  }

  &.guard-button-disabled {
    cursor: not-allowed;
  }
}
