.g2-change-language-container {
  display: flex;
  justify-content: center;
  user-select: none;
}

.genauth-g2-change-language-menu {
  background-color: #fff;
  width: 115px;
  border-radius: var(--guard-radius-control);
  padding: 6px;
  border: 1px solid #D1D1D6;
  box-shadow: 0px 10px 20px -10px rgba(28, 28, 30, 0.08);
  overflow: hidden;
  user-select: none;
}

.g2-change-language-text {
  display: flex;
  align-items: center;
  color: #6B7280;
  cursor: pointer;

  .lng-svg {
    font-size: 16px;
    margin-right: 5px;
  }

  .down-fill-svg {
    margin-left: 2px;
  }
}

.genauth-g2-change-language-menu ul {
  box-shadow: unset;
  padding: 0px;

  li {
    padding: 9px 10px;
    margin: 0;
    font-size: 14px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: #F5F5F7;
      border-radius: var(--guard-radius-tag);
    }

    svg {
      font-size: 16px;
      color: #1C1C1E;
    }
  }

  li.select {
    color: #2F54EB;

    svg {
      color: #2F54EB;
    }
  }
}
