.g2-change-language-container {
  display: flex;
  justify-content: center;
  user-select: none;
}

.authing-g2-change-language-menu {
  background-color: #fff;
  width: 115px;
  border-radius: 10px;
  padding: 6px;
  border: 1px solid #E7E5E4;
  box-shadow: 0px 10px 20px -10px rgba(28, 25, 23, 0.08);
  overflow: hidden;
  user-select: none;
}

.g2-change-language-text {
  display: flex;
  align-items: center;
  color: #737373;
  cursor: pointer;

  .lng-svg {
    font-size: 16px;
    margin-right: 5px;
  }

  .down-fill-svg {
    margin-left: 2px;
  }
}

.authing-g2-change-language-menu ul {
  box-shadow: unset;
  padding: 0px;

  li {
    padding: 9px 10px;
    margin: 0;
    font-size: 14px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background-color: #F5F5F4;
      border-radius: 8px;
    }

    svg {
      font-size: 16px;
      color: #171717;
    }
  }

  li.select {
    color: #EE5C2A;

    svg {
      color: #EE5C2A;
    }
  }
}
