.g2-errror-check-rules {
  color: #3A3A3C;
  margin-top: 12px;
  font-size: 14px;
  padding: 12px;
  border-radius: var(--guard-radius-surface);
  border: 1px solid #D1D1D6;
  .g2-error-check-sub-rule {
    margin-left: 36px;
  }
  .g2-error-check-rule-item {
    display: flex;
    align-items: flex-start;
    line-height: 24px;
    .g2-error-check-rule-icon {
      position: relative;
      color: #D1D1D6;
      &.valid {
        svg {
          animation: valid 0.1s forwards;
          animation-delay: 0.9s;
        }
        &::after {
          content: '';
          position: absolute;
          top: 6.5px;
          left: 1px;
          animation: l11 1s forwards;
          aspect-ratio: 1;
          border-radius: 50%;
          width: 12px;
        }
      }
    }
    .g2-error-check-rule-message {
      margin-left: 8px;
    }
  }
}

@keyframes valid {
  0% {
    color: #10B981;
  }
  100% {
    color: #10B981;
  }
}

@keyframes l11 {
  0% {
    background: conic-gradient(#10B981 0, #D1D1D6 0);
    opacity: 1;
  }
  12.5% {
    background: conic-gradient(#10B981 45deg, #D1D1D6 46deg);
    opacity: 1;
  }
  25% {
    background: conic-gradient(#10B981 90deg, #D1D1D6 91deg);
    opacity: 1;
  }
  37.5% {
    background: conic-gradient(#10B981 135deg, #D1D1D6 136deg);
    opacity: 1;
  }
  50% {
    background: conic-gradient(#10B981 180deg, #D1D1D6 181deg);
    opacity: 1;
  }
  62.5% {
    background: conic-gradient(#10B981 225deg, #D1D1D6 226deg);
    opacity: 1;
  }
  75% {
    background: conic-gradient(#10B981 270deg, #D1D1D6 271deg);
    opacity: 1;
  }
  87.5% {
    background: conic-gradient(#10B981 315deg, #D1D1D6 316deg);
    opacity: 1;
  }
  99% {
    background: conic-gradient(#10B981 360deg, #D1D1D6 360deg);
    opacity: 1;
  }
  100% {
    background: conic-gradient(#10B981 360deg, #D1D1D6 360deg);
    opacity: 0;
  }
}
