.genauth-agreements {
  padding: 0 2px;
  // margin-top: 20px;
  margin-bottom: 16px;
  display: inline-flex;
  flex-direction: column;
  &.genauth-agreements-error {
    .genauth-agreements-item-invalid {
      color: #DC2626;
      a {
        color: #DC2626;
      }
      :global(.ant-checkbox-inner) {
        border-color: #DC2626;
      }
    }
  }
}

.genauth-agreements-item {
  color: #6B7280;
  user-select: none;
  cursor: pointer;
  font-size: 12px;
  &:not(:first-child) {
    margin-top: 4px;
  }
  p {
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
  }
}

.genauth-agreements-checkbox {
  margin-bottom: 2px;
  :global(.ant-checkbox-inner) {
    width: 14px;
    height: 14px;
    &::after {
      left: 20%;
    }
  }
}

.genauth-agreements-item-content {
  line-height: 23px;
}
