.g2-qrcode-switch .qrcode-switch-image {
  color: #7a3bfd;
}
.g2-view-container {
  background-color: #25222d;
}

.g2-qrcode-switch .imgae-mask {
  border-left-color: #25222d;
}
.g2-view-container .g2-view-header .title,
.authing-ant-input,
.authing-ant-select-selection-item,
.authing-ant-select-arrow,
.authing-ant-select-item,
.authing-ant-input-suffix,
.switch-text .authing-ant-popover-inner-content,
.long-switch-text .authing-ant-popover-inner-content,
.authing-g2-mfa-title,
.authing-ant-btn-link[disabled],
.authing-ant-btn-link[disabled]:active,
.authing-ant-btn-link[disabled]:focus,
.authing-ant-btn-link[disabled]:hover,
.authing-ant-form-item-label > label,
.authing-ant-checkbox {
  color: #fff;
}

.title-explain,
.authing-g2-mfa-tips {
  color: #ffffff65 !important;
}

.authing-ant-tabs-tab.authing-ant-tabs-tab-active .authing-ant-tabs-tab-btn,
.g2-view-container .g2-view-tabs .authing-ant-tabs-tab:hover,
.authing-ant-tabs-tab-btn:active,
.authing-ant-tabs-tab-btn:focus,
.authing-ant-tabs-tab-remove:active,
.authing-ant-tabs-tab-remove:focus,
a {
  color: #8454ff;
}
.authing-ant-tabs-ink-bar {
  background-color: #8454ff;
}
.authing-ant-checkbox-checked .authing-ant-checkbox-inner {
  background-color: #7a3bfd;
  border-color: #7a3bfd !important;
}
.authing-ant-checkbox-checked:after {
  border-color: #7a3bfd !important;
}
.authing-g2-input,
.authing-g2-code-input input,
.authing-g2-input-form .authing-g2-select .authing-ant-select-selector {
  background: #322f3a !important;
  border-color: #322f3a !important;
}

.authing-g2-input:hover,
.authing-g2-code-input input:hover,
.authing-g2-input-form .authing-g2-select .authing-ant-select-selector:hover {
  background: #494551 !important;
  border-color: rgba(255, 255, 255, 0.45) !important;
}

.authing-g2-input.authing-ant-input-affix-wrapper-focused {
  background: #494551 !important;
  border-color: #7a3bfd !important;
}

.authing-g2-input.authing-ant-input-affix-wrapper-focused.authing-ant-input-affix-wrapper-status-error,
.authing-ant-input-affix-wrapper-status-error:not(
    .authing-ant-input-affix-wrapper-disabled
  ):not(
    .authing-ant-input-affix-wrapper-borderless
  ).authing-ant-input-affix-wrapper,
.authing-ant-input-affix-wrapper-status-error:not(
    .authing-ant-input-affix-wrapper-disabled
  ):not(
    .authing-ant-input-affix-wrapper-borderless
  ).authing-ant-input-affix-wrapper:hover {
  background: #322f3a !important;
  border-color: #ff4d4f !important;
}

.authing-g2-send-code-btn,
.authing-ant-btn.g2-guard-mfa-methods-btn {
  background-color: #322f3a !important;
  border-color: transparent !important;
  color: #fff !important;
}

.authing-g2-send-code-btn:hover,
.authing-ant-btn.g2-guard-mfa-methods-btn:hover {
  background-color: #3d3d3d !important;
  border-color: transparent !important;
}
.authing-ant-btn:focus,
.authing-ant-btn:hover {
  color: #8454ff;
}
.authing-ant-btn-primary {
  background-color: #682ae9;
  border-color: transparent;
  color: #fff;
}
.authing-ant-btn-primary:hover {
  background-color: #8454ff;
  border-color: transparent;
  color: #fff;
}
.authing-ant-btn-primary:focus {
  background-color: #511abe;
  border-color: transparent;
  color: #fff;
}

.g2-view-container .authing-g2-submit-button[disabled] {
  background-color: #483891;
  border-color: transparent;
  color: #fff;
}
.authing-ant-btn-link.guard-button-link-like,
.g2-tips-line .link-like,
.g2-view-back .g2-view-mfa-back-hover span,
.g2-view-back .g2-view-mfa-back-hover svg,
.authing-ant-btn-link,
.authing-ant-btn.g2-guard-third-login-btn:hover {
  color: #8454ff !important;
}
.authing-ant-btn-link.guard-button-link-like:hover,
.g2-tips-line .link-like:hover,
.g2-view-back .g2-view-mfa-back-hover span:hover,
.g2-view-back .g2-view-mfa-back-hover svg:hover {
  color: #8454ff !important;
}

.authing-ant-select-single
  .authing-ant-select-selector
  .authing-ant-select-selection-search-input {
  background: unset !important;
}

.authing-ant-select-item-option-active,
.authing-ant-select-item-option-selected {
  color: #8454ff !important;
  background-color: #322f3a !important;
}

.authing-ant-select-dropdown {
  background: #181818;
}

.authing-ant-btn.g2-guard-third-login-btn,
[class*='authing-'].authing-ant-btn.g2-social-login-item {
  background: rgba(50, 47, 58, 0.65);
  color: #fff;
}
.authing-g2-dropdown {
  border: unset !important;
}
.g2-change-language-text {
  color: #ffffff65;
}
.g2-change-language-text:hover {
  color: #fff;
}
.authing-ant-tabs-top > .authing-ant-tabs-nav:before {
  border-color: #ffffff10;
}
