.g2-register-account-type {
  min-height: 340px;
  .g2-view-tabs {
    margin-bottom: 24px;
  }
  .back-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
    &:hover {
      span {
        color: #2F54EB;
      }

      svg {
        color: #2F54EB;
      }
    }

    & span {
      color: #6B7280;
    }

    & svg {
      color: #6B7280;
    }
  }
}
