.g2-register-account-type {
  min-height: 340px;
  .g2-view-tabs {
    margin-bottom: 24px;
  }
  .back-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
    &:hover {
      span {
        color: #EE5C2A;
      }

      svg {
        color: #EE5C2A;
      }
    }

    & span {
      color: #737373;
    }

    & svg {
      color: #737373;
    }
  }
}
