<div class="embed-container">
  <div class="item">
    <label>Change Lang: </label>
    <select ng-model="langCache" (change)="changeLang($event)">
      <option ngValue="zh-CN">zh-CN</option>
      <option ngValue="zh-TW">zh-TW</option>
      <option ngValue="en-US">en-US</option>
      <option ngValue="ja-JP">ja-JP</option>
    </select>
  </div>

  <button class="authing-button" (click)="changeContentCSS()">Change Content CSS</button>

  <button class="authing-button" (click)="startRegister()">Start Register</button>

  <button class="authing-button" (click)="logout()">Logout</button>

  <button class="authing-button" (click)="getUserInfo()">Get User Info</button>

  <button class="authing-button" (click)="refreshToken()">Refresh Token</button>

  <button class='authing-button' (click)="changeViewToPassword()">Change View to Password</button>

  <button class='authing-button' (click)="changeViewToPhoneCode()">Change View to PhoneCode</button>

  <button class='authing-button' (click)="changeViewToForgetPassword()">Change View to ForgetPassword</button>

  <button class='authing-button' (click)="changeViewToAppQrcode()">Change View to AppQrcode</button>

  <button class='authing-button' (click)="changeViewToRegister_UserName()">Change View To Register - UserName</button>

  <button class='authing-button' (click)="changeViewToRegister_EmailPassword()">Change View To Register - EmailPassword</button>

  <button class='authing-button' (click)="checkAllAgreements()">Check All Agreements</button>

  <button class='authing-button' (click)="unCheckAllAgreements()">UnCheck All Agreements</button>

  <div id="authing-guard-container"></div>
</div>
